.footerContainer {
    display: flex;
    flex-direction: column;
    gap: calc(2*var(--spacing-size-mamoth));
    padding: var(--spacing-size-mamoth);
    align-items: center;
    justify-content: center;
}
.topContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        gap: var(--spacing-size-huge);
    }
}

.headerItem {
    display: flex;
    gap: var(--spacing-size-mamoth);
    color: var(--color-white);
    font-size: var(--font-size-large);
    font-weight: 500; 

    @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-size-small);
    }
}

.headerButton {
    color: var(--color-white);
    border: 2px solid var(--color-white);
    background-color: transparent;
    padding: var(--spacing-size-xsmall) var(--spacing-size-xxlarge);
}

.policiesContainer {
    display: flex;
    gap: var(--spacing-size-mamoth);
    color: var(--color-white);
    opacity: 0.3;
    font-size: var(--font-size-normal);
    width: 100%;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        gap: var(--spacing-size-huge);
    }
}