@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: "Roboto";
}

:root {
  --color-primary: #34c94b;
  --color-black: #111111;
  --color-white: #ffffff;
  --color-lightgray: #1D1D1D;
  --bg-color-lightGray : #2E2E2E;
  --color-light-yellow: #E3B748;
  --font-size-tiny: 4px;
  --font-size-xxsmall: 8px;
  --font-size-xsmall: 10px;
  --font-size-small: 12px;
  --font-size-xnormal:14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 22px;
  --font-size-huge: 24px;
  --font-size-xhuge: 26px;
  --font-size-xxhuge: 28px;
  --font-size-mamoth: 30px;
  --font-size-xmamoth: 32px;

  --spacing-size-tiny: 4px;
  --spacing-size-xxsmall: 8px;
  --spacing-size-xsmall: 10px;
  --spacing-size-small: 12px;
  --spacing-size-normal: 16px;
  --spacing-size-large: 18px;
  --spacing-size-xlarge: 20px;
  --spacing-size-xxlarge: 22px;
  --spacing-size-huge: 24px;
  --spacing-size-xhuge: 26px;
  --spacing-size-xxhuge: 28px;
  --spacing-size-mamoth: 30px;

  --width-icon: 25px;
  --width-search-input: 450px;
  --height-icon: 16px;

  --border-radius-tiny: 4px;
  --border-radius-xxsmall: 8px;
  --border-radius-xsmall: 10px;
  --border-radius-small: 12px;
  --border-radius-normal: 16px;
  --border-radius-large: 18px;
  --border-radius-xlarge: 20px;
  --border-radius-xxlarge: 22px;
  --border-radius-huge: 24px;
  --border-radius-xhuge: 26px;
  --border-radius-xxhuge: 28px;
  --border-radius-mamoth: 30px;

  /* mobile */
  @custom-media --media-max-xs (max-width: 360px);
  @custom-media --media-min-sm (min-width: 361px);
  @custom-media --media-max-sm (max-width: 600px);

  /* tablets */
  @custom-media --media-min-md (min-width: 601px);
  @custom-media --media-max-md (max-width: 960px);

  /* small laptops */
  @custom-media --media-min-lg (min-width: 961px);
  @custom-media --media-max-lg (max-width: 1200px);

  /* laptops */
  @custom-media --media-min-xl (min-width: 1201px);
  @custom-media --media-max-xl (max-width: 1440px);

  /* large screens */
  @custom-media --media-min-xxl (max-width: 1441px);
  @custom-media --media-max-xxl (min-width: 1920px);
  
}
